.bg-theme {
  background-color: #f14d4d !important;
}
.text-theme {
  color: #f14d4d !important;
}
.outline {
  border: solid #fff !important;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
.outline {
  transition-timing-function: linear;
}
.outline:hover {
  border: solid #f14d4d !important;
}
