// Vars
$bgTheme: rgb(241, 77, 77) !important;
$white: #ffffff !important;
$font: 'Handlee', cursive;

.bg-theme {
    background-color: $bgTheme;
}
.text-theme {
    color: $bgTheme;
}
.white-background {
    background: $white;
}
.border {
    border: solid 2px $bgTheme;
}
.border-left {
    border-left: solid 5px $bgTheme;
}
.outline {
    border: solid 2px $white;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}  
  .outline {transition-timing-function: linear;}

.outline:hover {
    border: solid 2px $bgTheme;    
}

.bottom-radius {
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.font {
    font-family: $font;
}
.fine-font {
    font-family: 'Raleway', sans-serif;
}
.size-22 {
    font-size: 22px !important;
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.max-width {
    max-width: 1200px;
}
.opacity {
    background: rgba(255, 255, 255, 0.5);
}



