body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-theme {
  background-color: #f14d4d !important;
}
.text-theme {
  color: #f14d4d !important;
}
.white-background {
  background: #fff !important;
}
.border {
  border: solid 2px #f14d4d !important;
}
.border-left {
  border-left: solid 5px #f14d4d !important;
}
.outline {
  border: solid 2px #fff !important;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}
.outline {
  transition-timing-function: linear;
}
.outline:hover {
  border: solid 2px #f14d4d !important;
}
.bottom-radius {
  border-bottom-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.font {
  font-family: "Handlee", cursive !important;
}
.fine-font {
  font-family: "Raleway", sans-serif;
}
.size-22 {
  font-size: 22px !important;
}
.max-width {
  max-width: 1200px;
}
.opacity {
  background: rgba(255, 255, 255, 0.5);
}
.new-outline:focus {
  outline: solid #f14d4d !important;
}
.text-box {
  width: 290px !important;
}
.new-note {
  background: rgba(255, 255, 255, 0.507);
  padding: 25px;
  margin: 0% auto;
  margin-bottom: 40px;
  font-size: 20px;
}
.wrap {
  word-wrap: break-word;
}
.delete {
  margin-right: 7px;
  display: flex;
  flex-direction: row;
}
