// Vars
$bgTheme: rgb(241, 77, 77) !important;
$white: #ffffff !important;
$font: 'Handlee', cursive !important;
$finefont: 'Raleway', sans-serif;

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bg-theme {
    background-color: $bgTheme;
}
.text-theme {
    color: $bgTheme;
}
.white-background {
    background: $white;
}
.border {
    border: solid 2px $bgTheme;
}
.border-left {
    border-left: solid 5px $bgTheme;
}
.outline {
    border: solid 2px $white;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}  
  .outline {transition-timing-function: linear;}

.outline:hover {
    border: solid 2px $bgTheme;    
}

.bottom-radius {
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}
.font {
    font-family: $font;
}
.fine-font {
    font-family: $finefont;
}
.size-22 {
    font-size: 22px !important;
}
.max-width {
    max-width: 1200px;
}
.opacity {
    background: rgba(255, 255, 255, 0.5);
}
.new-outline:focus {
    outline: solid $bgTheme;
}
.text-box {
    width: 290px !important;
}
.new-note {
    // border: solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.507);
    padding: 25px;
    margin: 0% auto;
    margin-bottom: 40px;
    font-size: 20px;
}
.wrap {
    word-wrap: break-word;
}
.delete {
    margin-right: 7px;
    display: flex;
    flex-direction: row;
}



